
<nz-page-header nzTitle="Usuário">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>First-level Menu</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>Second-level Menu</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Third-level Menu</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<div>
  <button nz-button nzType="primary" [routerLink]="['manter']"> Novo Usuário</button>
</div>
<div>
<nz-table #filterTable [nzData]="listOfDisplayData">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowSort nzSortKey="name"> Nome</th>
      <th nzShowSort nzSortKey="Usuario">Usuário</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td>{{ data.nome }}</td>
      <td>{{ data.user }}</td>
      <td>{{ data.email }}</td>
    </tr>
  </tbody>
</nz-table>
</div>

