<nz-layout class="app-layout" >
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" *ngIf="mostrarMenu"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>CALLTECH</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Taskboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome"><i nz-icon nzType="area-chart" nzTheme="outline"></i>Dashboard</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/chamado"><i nz-icon nzType="solution" nzTheme="outline"></i>Chamados</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Segurança" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/seguranca/usuario"><i nz-icon nzType="team" nzTheme="outline"></i>Usuário</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/seguranca/perfil"><i nz-icon nzType="book" nzTheme="outline"></i>Perfil</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/seguranca"><i nz-icon nzType="book" nzTheme="outline"></i>Perfil</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <!-- CRIAR UM HEADER DE RESPEITO PRA ISSO Com COMPONENTE-->
    <nz-header *ngIf="mostrarMenu">
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>

          <nz-avatar [ngStyle]="{ 'background-color': color }" [nzText]="text" nzSize="large"
            style="vertical-align: middle;"></nz-avatar>
          <!--<button nz-button [nzType]="'dashed'" (click)="change()" style="margin-left: 16px; vertical-align: middle;">
            <span>Change</span>
          </button>-->

        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
