<nz-page-header nzTitle="Novo Chamado">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>First-level Menu</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>Second-level Menu</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Third-level Menu</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>


<form    
nz-form [formGroup]="form"
>
<div nz-row nzGutter="16">
    <div nz-col [nzMd]="12" [nzSm]="6" [nzXs]="6" [nzLg]="18">
        <nz-form-label nzNoCollon="true" nzRequired >Título</nz-form-label>
        <nz-form-item>
            <input type="text" nz-input formControlName="titulo" placeholder="Informe um título descritivo" />
        </nz-form-item>
    </div>
    <div nz-col [nzMd]="12" [nzSm]="6" [nzXs]="6" [nzLg]="6">
    <nz-form-item>
      <nz-form-label nzNoCollon="true" nzRequired >Natureza</nz-form-label>
      <nz-select formControlName="natureza" ngModel="natureza" nzPlaceHolder="Natureza" nzRequired="true">
        <nz-option nzLabel="Erro" [nzValue]="'ERRO'"></nz-option>
        <nz-option nzLabel="Duvida" [nzValue]="'DUVIDA'"></nz-option>
        <nz-option nzLabel="Implementação" [nzValue]="'IMPLEMENTACAO'"></nz-option>
        <nz-option nzLabel="Análise" [nzValue]="'ANALISE'"></nz-option>
      </nz-select>
     </nz-form-item>
    </div>
</div>
<div nz-row nzGutter="8">
  <div nz-col>
  <nz-form-item>
    <nz-form-label nzNoCollon="true" nzRequired>Descrição do Chamado</nz-form-label>
    <nz-form-control>
      <textarea
      formControlName="descricao"
      nzRequired ="true"
      nz-input
      placeholder="Lembre-se! Quanto mais detalhe melhor!"
      [nzAutosize]="{ minRows: 2, maxRows: 6 }"
    ></textarea>
    </nz-form-control>
  </nz-form-item>
  </div>
  <div>
  </div>
</div>
</form>
<button nz-button nzType="primary" (click)="saveForm(form.value)">Salvar</button>
<button nz-button nzType="default" routerLink='/chamado'>Cancelar</button>
