
<button nz-button nzType="primary" [routerLink]="['manter']"> Novo Perfil</button>

<nz-table #filterTable [nzData]="listOfDisplayData">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowSort> perfil</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td>{{ data.nome }}</td>
      <td><i nz-icon nzType="eye" nzTheme="outline"></i><i nz-icon nzType="rest" nzTheme="twotone"></i></td>
    </tr>
  </tbody>
</nz-table>
