/* You can add global styles to this file, and also import other style files */
    [nz-button] {
      margin-right: 8px;
      margin-bottom: 12px;
    }

    [nz-icon] {
      margin-right: 6px;
      font-size: 18px;
      margin-left: 8px;
      margin-right: 8px;
    }
    /*VERIFICAR CSS DESSE COMPONENT*/
    [nz-page-header]{
      border: 4mm;
      border-color: black;
      background-color: blue;

    }

